/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/* Index page styling
-------------------------------------------------- */

h5 {
    font-family: Georgia, serif;
    font-size: 20px;
}

#code-input {
    height: 500px;
    resize: none;
    font-family: Consolas, sans-serif;
    tab-size: 4;
}

#code-input[readonly] {
    background-color: white;
}

#user-message {
    height: 60px;
    resize: none;
    font-family: Consolas, sans-serif;
}

#reset {
    
    height: 30px;
    width: 30px;
}

#code-container {
    margin-bottom: 30px;
    position: relative;
}

.topright {
    position: absolute;
    top: 4px;
    right: 20px;
}

#data {
    /*margin: 30px 20px;*/
}

#data-container {
    width: 800px;
    margin: 50px auto;
}


#data-table {   
    font-size: 16px;
    font-weight: normal;
}

#timeout {
    width: 200px;
    margin-bottom: 30px;
    float: right;
}

#output {
    margin: 50px auto;
    width: 400px;
}

#loading {
    width: 400px;
    margin: 50px auto;
    margin-bottom: 30px;
}

#loading-image {
    height: 150px;
    width: 150px;
}

#go {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

#speed-table {
    width: 500px;
    margin: auto;
    vertical-align: middle;
}